<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeServ2</title>
    <style>
        body{
            padding: 10px;background-color: rgb(32, 30, 30);
        }
        div{
            padding: 20px;
            height:200px ;
            color:rgb(0, 17, 255);
            background-color: rgba(189, 115, 115, 0.568);
        }
    </style>
</head>
<body>
    <div >
        <h2>About Dniwe</h2>
        <progress value="0.3">guf</progress>
    </div>
    <div>
        <a href="/">Main Page</a>
    </div>
    
</body>
</html>